body {
    background-color: dimgray;
    background: black;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.header img{
    width: 50px;
    border-radius: 100px;
}

.logo h1 {
    color: black;
}

.logo span{
    color: chocolate;
}

.search-bar input {
    width: 400px;
    padding: 8px;
}

.search-bar button {
    background: rgb(255, 149, 0);
    color: white;
    border: none;
    padding: 8px 16px;
}

.links a {
    margin: 10px;
    color: black;
}

.links span{
    color: red;
}


.main-content {
    display: grid;
    grid-template-columns: 20% 50% 15% 15%; 
    gap: 20px;
    padding: 20px;
    background-color: red;
    align-items: start;
}

/* Categories column */
.categories {
    background: white;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid chocolate;
}

.categories ul {
    list-style: none;
}

.categories li {
    padding: 10px 0;
    border-bottom: 1px solid chocolate;
    cursor: pointer;
    transition: 1s;
}

.categories li:hover {
    color: chocolate;
}

.categories i {
    color: black;
    margin-right: 5px;
}

/* Banner column */
.banner {
    background: white;
    border-radius: 8px;
    padding: 10px;
}

.banner img {
    width: 100%;
    border-radius: 20px;
}

/* Contacts column */
.contacts {
    background: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 14px;
    border: 1px solid chocolate;
    border-radius: 20px;
}

.contacts i {
    color: dimgray;
    margin-right: 5px;
}

/* Promo column */
.promo {
    background: chocolate;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-weight: bold;
    display: flex;
}

.promo button{
    background-color: chocolate;
    font-weight: bold;
    font-style: italic;
}

.slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide.active { 
    opacity:1; 
}

.slide .overlay {
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.5);
    display:flex;
    flex-direction:column; 
    justify-content:center; 
    align-items:center;
    text-align:center; 
    color:#fff;
}


.footer{
    padding: 100px 0;
    background-color: dimgrey;
    text-decoration-color: white;
    text-align: top;
}
